.topnav {
    font-family:'Cormorant Garamond';
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C5D74;
    overflow: hidden;
  }
  
.topnav h2{
  font-weight: bolder;
  color:#fbfaf6;
  margin-left: 10px;
  font-size: 18px;
  -webkit-text-stroke: 0.5px white;
}

.topnav-right{
    float: right;
  }

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 18px;
font-weight: bolder;
}

.topnav a:hover {
background-color: #2e3c46;
}
